{
  "plugins": ["@babel/plugin-proposal-export-default-from"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8"
        }
      }
    ],
    "@babel/preset-react"
  ]
}
