---
parser: "babel-eslint"

env:
  es6: true
  node: true
  browser: true

plugins:
  - react

ecmaFeatures:
  modules: true
  jsx: true

rules:
  quotes:
    - 2
    - single
  strict:
    - 2
    - never
  "one-var":
    - 2
    - never
  "no-underscore-dangle": 0
  "no-use-before-define":
    - 2
    - nofunc
  "react/jsx-boolean-value": 2
  "react/jsx-quotes": 2
  "react/jsx-no-undef": 2
  "react/jsx-sort-props": 1
  "react/jsx-sort-prop-types":
    - 2
    - ignoreCase: true
  "react/jsx-uses-react": 2
  "react/jsx-uses-vars": 2
  "react/no-did-mount-set-state": 2
  "react/no-did-update-set-state": 2
  "react/no-multi-comp": 2
  "react/no-unknown-property": 2
  "react/prop-types": 1
  "react/react-in-jsx-scope": 2
  "react/self-closing-comp": 2
  "react/wrap-multilines": 2
