parser: babel-eslint

extends:
  - airbnb
  - prettier
  - prettier/react

env:
  es6: true
  node: true
  browser: true

rules:
  react/jsx-filename-extension:
    - 1
    - extensions:
      - ".js"
      - ".jsx"
